body {
    color:white;
    background-color: #1a1a1c;
   
}

.song a {
    text-decoration: none;
    color: white;
}

.song {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.song a:hover {
    color: rgb(179, 178, 178);
    text-decoration: underline;
}

.search {
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}